/* Header */
.header-container,
.footer-container {
  width: var(--width-default);
  max-width: var(--width-container-max);
  padding-inline: var(--padding-inline-container);
  margin-inline: auto;
}

/* Heading */
h1, h2 {
   text-transform: uppercase;
}

/* Button */
.button--primary {
   letter-spacing: 1px;
}

/* Social Media */
.social-icon {
    background-color: var(--color-primary);
    -webkit-mask: var(--icon-url) no-repeat center / contain;
    mask: var(--icon-url) no-repeat center / contain;
    transition: background-color 0.2s;
}

.social-icon:hover {
    background-color: var(--color-secondary);
}